.sarvar1{
    background-color: aqua;
}
.sarvar2{
    background-color: blue;
}
.sarvar3{
    background-color: blueviolet;
}
.sarvar4{
    background-color: brown;
}
.saric1{
    background-color: hotpink
}
.saric2{
    background-color: chartreuse;
    text-align: center;
}